@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --background-color-card: rgb(255, 243, 245);
    --color-card: rgb(102, 85, 49);
}

body {
    background-color: var(--background-color-card);
    display: flex;
    justify-content: center;
    align-items: center;
}

#particles-js {
    position: absolute;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.background {
    position: absolute;
    width: auto;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100vh;
}

#container .top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: inherit;
}

#container .top img {
    margin-top: 20px;
    border-radius: 50%;
    z-index: 1;

    max-width: 500px;
    max-height: 500px;
}

#container .bottom section {
    background-color: white;
    font-size: 2rem;
    margin: 20px;
    padding: 20px 100px;

    background: rgba(255, 255, 255, 0.876);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.176);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.033);
}

#name {
    font-family: 'Ms Madi', cursive;
    text-align: center;
    margin: 20px 0 20px 0;

    font-size: 1.5em;
    color: var(--color-card);
}

#roses {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    background-position: center;
    background-image: url(https://i.pinimg.com/originals/64/2f/0b/642f0bf1c6e0000e197f23d8923b8541.png);
}

#location-text {
    text-align: center;
    font-size: 0.7em;
    line-height: 1.3;

    color: var(--color-card);
    font-family: 'Josefin Slab', serif;
}

@media (max-width: 700px) {
    #container .top img {
        width: 70vw;
    }
    #container .bottom section {
        padding: 20px 60px;
        font-size: 1.5rem;
    }

    #particles-js {
        height: 100%;
    }

    #name {
        font-size: 1.2em;
    }
}

@media (max-width: 370px) {
    #container .bottom section {
        font-size: 1.2rem;
    }
}

